<div class="dataPickerForm">
    <div class="dataPickerField">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Дата с:">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="month" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="dataPickerField">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Дата по:">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="month" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
    </div>
    <button mat-button class="filterBtn">Фильтровать</button>
</div>

<app-data-table></app-data-table>

<div id="money">
  <div id="info"></div>
</div>

<header>
</header>

<section>
</section>
